/* src/index.css */

@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"); */

body {
  font-family: "Inter", sans-serif;
  cursor: none;
}

@keyframes blink {
  0%,
  100% {
    background-color: #8d8e90; /* Tailwind gray-400 */
  }
  50% {
    background-color: #ffffff; /* White */
  }
}

.blink-dot {
  animation: blink 1s infinite;
}

/* ------------------------------------------------------- */
/* 
/* ------------------------------------------------------------- */

/* Make sure clickable elements still show pointer cursor */
a,
button,
[role="button"] {
  cursor: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}
